### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [33]:
#counting number of SN to get total player count
purchase_data['SN'].un()

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
unique = len(purchase_data['Purchase ID'].unique().tolist())

avg_price = purchase_data['Price'].mean()
num_purch = purchase_data['Purchase ID'].count()
total_rev = purchase_data['Price'].sum()

summary = pd.DataFrame({'unique': [unique],
                       'avg_price': [avg_price],
                       'num_purch': [num_purch],
                       'total_rev': [total_rev]})
summary

   unique  avg_price  num_purch  total_rev
0     780   3.050987        780    2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [26]:
males = len(purchase_data.loc[purchase_data['Gender'] == "Male",:])
females = len(purchase_data.loc[purchase_data['Gender'] == "Female",:])
unknown = len(purchase_data.loc[(purchase_data['Gender'] != "Male") & 
                                  (purchase_data['Gender'] != "Female"),:])
total_people = males + females + unknown

per_male = males/total_people
per_female = females/total_people
per_unknown = unknown/total_people

per_male = per_male

percentages = pd.DataFrame({'Male': [per_male],
                       'Female': [per_female],
                       'Unknown': [per_unknown]})
percentages['Male'] = percentages['Male'].map('{:,.2%}'.format)
percentages['Female'] = percentages['Female'].map('{:,.2%}'.format)
percentages['Unknown'] = percentages['Unknown'].map('{:,.2%}'.format)

percentages

     Male  Female Unknown
0  83.59%  14.49%   1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
total_purchase_male = purchase_data.loc[purchase_data['Gender'] == 'Male',['Price']].sum()
total_purchase_female = purchase_data.loc[purchase_data['Gender'] == 'Female',['Price']].sum()
total_purchase_unknown = purchase_data.loc[(purchase_data['Gender'] != 'Male') & 
                                           (purchase_data['Gender'] != "Female"),['Price']].sum()

avg_price_male = total_purchase_male/males
avg_price_f

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame